ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul li{
    float: right;
}

ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
}
ul li a:hover{
    background-color: #ffd700;
}
.rightnav{
    text-align: right;
}

#search{
    padding: 8px;
    width: 300px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.btn{
    background-color: #ffd700;
    color: #000;
    border: none;
    padding: 8px 12px ;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
}

.btn:hover{
    background-color: #000;
    /* change the background color on hover */
    color: #ffd700;
}


header{
    font-size: 80px;
    background-color: #ffd700;
    color: black;
    text-align: center;
}

body{
    background-color: #000;
}

p{
    color: #ffd700;
    background-color: #000;
    text-align: center;
}

h2{
    color: #ffd700;
    background-color: #000;
    text-align: center;
}

.img{
    height: 500px;
    width: 500px;
}




h1{
    color: #ffd700;
}

#features{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#features .f-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(219,14,14,0.03) ;
    border: 1px solid #ffd700;
    border-radius:4px ;
    margin: 15px 0;
    transition: box-shadow 0.3s;
}
#features .f-box:hover{
    box-shadow: 10px 10px 54px rgb(117,169,21,0.1);
}

#features .f-box img{
    width: 100%;
    margin-bottom: 10px;
}
#features .f-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px ;
    line-height: 1;
    font-size: 14px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#features .f-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#features .f-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#features .f-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#features .f-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#features .f-box:nth-child(6) h6{
    background-color: #fff2e5;
}
/* feature section style */

.product-section .pro-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 60px;
}

.product-section h1 , .product-section p{
    text-align: center;
}

.product-section .product-cart{
    width: 280px;
    border: 1px solid #ebebeb;
    padding: 13px;
    margin-bottom: 30px;
    border-radius: 25px;
    position: relative;
    box-shadow:  20px 20px 30px rgba(0,0,0,0.02);
    transition: box-shadow 0.02s;
    background-color:#ffd700 ;
}

.product-section  .product-cart:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

.product-section .product-cart img{
    width: 100%;
    border-radius: 25px;
}
.product-section .product-cart span{
    color: #969696;
    font-weight: 500;
    line-height: 30px;
}
.product-section .product-cart h4{
    font-size: 18px;
    color: rgb(41,41,41);
}
.product-section .product-cart .stars{
    color: #e6ae2c;
    padding: 6px 0; 
}
.product-section .product-section .price{
    color: #0d0e0e;
    padding: 4px;
}
.product-section .product-cart .buy-icon{
     color: #810832;
     background-color: #08f2e25e;
     padding: 15px;
     position: absolute;
     border-radius: 50px;
     right: 10px;
     bottom: 10px;
}
#footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 75px;
    background-color:#ffd700 ;

}

#footer a{
    color: rgb(0,0,0);
}
#footer a:hover{
    color: #2a8780;
}
#footer .about a{
    display: block;
    padding: 8px 0;
}
#footer .myaccount a{
    display: block;
    padding: 8px 0;
}
#footer .download img{
    border: 1px solid #66c9c169;
    border-radius: 7px;
}

 